.vs/*
Neural-Network_Library/bin/*
Neural-Network_Library/obj/*
Neural-Network_Library_tests/bin/*
Neural-Network_Library_tests/obj/*
.vs/Neural-Network_Library/v17/.futdcache.v2
.vs/Neural-Network_Library/v17/.suo
